
    </body>

	<!--  Scripts -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>


	<script type="text/javascript" src="/../build/vendors/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/../build/vendors/bootstrap.js"></script>
    <script type="text/javascript" src="/../build/js/util.js"></script>
    <script type="text/javascript" src="/../build/js/mapa.js"></script>
    <script type="text/javascript" src="/../build/js/pages/index.js"></script>
