<!DOCTYPE html>
</html>
    <head>
        <title></title>
        <link href="/../build/css/style.css" rel="stylesheet">
		<link href="/../build/css/bootstrap.css" rel="stylesheet">
        <script type="text/javascript" src="/../build/js/all.js"></script>
		<script type="text/javascript" src="/../build/js/bootstrap.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
ontainer">
ontainer">
ontainer">
ontainer">
ontainer">
ontainer">
