<%- include layouts/header.ejs %>
</head>
	<body>
	<div class="menu-masthead">
      <div class="container">
        <nav class="menu-nav">
            <a class="menu-nav-item active" href="#" ><img src="/../images/logo2.png"/></a>
        </nav>
      </div>
    </div>
	<div class="container body-index">
		<div class="row">
			<div class="col-md-3">
                <div class="alert alert-info" id="passo" role="alert">
                    <b>Atenção!</b> Informe os endereços abaixo.
                </div>
                <form onsubmit="return false;">
                    <label for="txtEnderecoPartida" class="info-gerar-rota">Horário de partida:</label>
                    <div class="form-group info-gerar-rota">
                        <input type="time" class="form-control" id="txtHorarioPartida" name="txtHorarioPartida" value="07:00" />
                    </div>
                    <div class="divisor"></div>
                    <label for="txtEnderecoPartida">Endereço de partida:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtEnderecoPartida" name="txtEnderecoPartida" value="" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn info-gerar-rota" onclick="index.trocarEndereco();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Inverter Endereço</button>
                    </div>
                    <label for="txtEnderecoChegada">Endereço de chegada:</label>
                    <div class="form-group">
                        <input type="text" id="txtEnderecoChegada" class="form-control" name="txtEnderecoChegada" value="" />
                    </div>
                    <div class="divisor"></div>
                    <label>Pontos de embarque:</label>
                    <div class="form-group info-gerar-rota">
                        <div id="listaPontos">
                        </div>
                    </div>
                    <button type="button" class="btn btn-info info-gerar-rota" onclick="index.novoPonto();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Ponto</button>
                    <button type="submit" id="btnCalcularRota" onclick="mapa.calcularRota();" class="btn btn-primary info-gerar-rota"><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Calcular Rota</button><br /><br />
                    <a href="javascript:void(0);" class="lnk-endereco-geo info-gerar-rota" onclick="index.preencherDadosGeo();$(this).hide();">Endereços Pré-definidos</a>
                </form>
                <div class="form-group info-resultado-rota">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ordem</th>
                                <th>Horário</th>
                                <th>Endereço</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default" onclick="location.reload();">Nova Pesquisa</button>
                </div>
            </div>
			<div class="col-md-9">
            		<div id="map"></div>
                    <div class="alert alert-success info-resultado-rota" role="alert">
                        <div id="trajeto-texto"></div>
                    </div>

            </div>
		</div>
	</div>
<%- include layouts/footer.ejs %>
<script>
    $(document).ready(function(){
        index.init();
    });
</script>
</html>
